Repository Projecte-UrbanTree/microservice, pull requests merged in 2025-02, with the labels that each got.

#21 test: add unit tests for file upload functionality
  src/api/v1/pages/pages.py
  src/main.py
  tests/unit/test_auth_service.py
  tests/unit/test_db_connection.py
  tests/unit/test_main.py
  tests/unit/test_user_service.py
Labels: area/tests, kind/improvement

#19 chore: add CI workflow for continuous integration checks
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
  .vscode/launch.json
  src/core/db/connection.py
  tests/unit/test_main.py
Labels: kind/feature, area/tests

#30 Enhance file upload endpoint with event support and improved handling
  src/api/v1/endpoints/sensors.py
  tests/unit/test_main.py
Labels: kind/feature, area/tests

#33 chore: update Dockerfile to run FastAPI and add empty __init__.py file
  Dockerfile
  src/__init__.py
Labels: area/docker, kind/improvement
